{% extends "_page.html" %}
{% block title %}
<title>😊😃😛😁</title>
{% endblock %}
{% block content %}

<div class="container">
  <center>
    <h3>WongXY<i class="fa fa-smile-o fa-1g shake-little"></i></h3>
  </center>
  {% if logged_in %}
  <a href="{{url_for('add')}}" class="i" title='添加文章'><i class="fa fa-plus-circle fa-1g"></i></a>
  {% endif %}
  {% if posts %}
  <ol>
    {% for post in posts %}
    <li><a href="/detail/{{post.id}}" title="{{post.content[:50]}}">{{post.title}}</a><span class="date" title="{{post.pub_date}}">{{post.pub_date|strftime}}</span></li>
    {% endfor %}
  </ol>
  {% endif %}
</div>

{% endblock %}
